

                            <form id="signup-form" method="post" action="/signup">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="formFirstName" name="firstName" class="form-control form-control-lg" placeholder="First name" style="border-color: #b382f5;" />
                                            <div class="firstName error"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="formLastName" name="lastName" class="form-control form-control-lg" placeholder="Last name" style="border-color: #b382f5;" />
                                            <div class="lastName error"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="formEmail" name="email" class="form-control form-control-lg" placeholder="Email ID" style="border-color: #b382f5;" />
                                    <div class="email error"></div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="formPassword" name="password" class="form-control form-control-lg" placeholder="Password" style="border-color: #b382f5;" />
                                    <div class="password error"></div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="formConfirmPassword" name="confirmpassword" class="form-control form-control-lg" placeholder="Confirm Password" style="border-color: #b382f5;" />
                                    <div class="confirmpassword error"></div>
                                </div>

                                <div class="d-flex justify-content-end pt-3">
                                    <button type="submit" class="btn btn-lg ms-2" style="background-color: #b382f5;">Sign Up</button>
                                </div>
                            </form>

                         